/*#wrapper {
	margin: 0 auto; 
	width: 1000px;
	padding-bottom: 40px;
        padding-right: 40px;
	background-color: #F7F7F7;
	margin: 0 auto 10px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.badge-wrapper {
	margin: 0 auto; 
	width: 1000px;
	padding: 5px;
	margin: 0 auto 5px;
	overflow: hidden;
}

.form_table td {
	font-size: 18px;
}

#order_summary_div{
    background-color:#ffffff;
    font-size: 15px;
    line-height:35px
}

.field_label{
    font-weight: normal;    
}

label.invalid{
    width: 125%;
}

#order_summary_div span{
    float: right;    
}

.next-button {
	-moz-box-shadow:inset 0px 1px 3px 0px #c7cfce;
	-webkit-box-shadow:inset 0px 1px 3px 0px #c7cfce;
	box-shadow:inset 0px 1px 3px 0px #c7cfce;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2c2c2), color-stop(1, #af1111));
	background:-moz-linear-gradient(top, #ec1a1a 5%, #af1111 100%);
	background:-webkit-linear-gradient(top, #ec1a1a 5%, #af1111 100%);
	background:-o-linear-gradient(top, #ec1a1a 5%, #af1111 100%);
	background:-ms-linear-gradient(top, #ec1a1a 5%, #af1111 100%);
	background:linear-gradient(to bottom, #ec1a1a 5%, #af1111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec1a1a', endColorstr='#af1111',GradientType=0);
	background-color:#ec1a1a;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #999999;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	width: 200px;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px -1px 0px #9c9c9c;
}

.next-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #af1111), color-stop(1, #ec1a1a));
	background:-moz-linear-gradient(top, #af1111 5%, #ec1a1a 100%);
	background:-webkit-linear-gradient(top, #af1111 5%, #ec1a1a 100%);
	background:-o-linear-gradient(top, #af1111 5%, #ec1a1a 100%);
	background:-ms-linear-gradient(top, #af1111 5%, #ec1a1a 100%);
	background:linear-gradient(to bottom, #af1111 5%, #ec1a1a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#af1111', endColorstr='#ec1a1a',GradientType=0);
	background-color:#af1111;
}

.form-control {
	display: block;
	width: 300px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form_select {
	height: 44px;
	font-size: 16px;
	width: 320px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	 border-radius: 2px; 
	padding: 0 8px;
}

.form_exp_month {
	height: 44px;
	font-size: 16px;
	width: 120px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	 border-radius: 2px; 
	padding: 0 8px;
}

.form_exp_year {
	height: 44px;
	font-size: 16px;
	width: 100px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	 border-radius: 2px; 
	padding: 0 8px;
}

.form_input {
	height: 44px;
	font-size: 16px;
	width: 300px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	 border-radius: 2px; 
	padding: 0 8px;
}

.form_text_area {
	font-family: "Source Sans Pro",sans-serif;
	height: 88px;
	font-size: 16px;
	width: 500px;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	 border-radius: 2px; 
	padding: 0 8px;
}

.form_input:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


#step_one {
	margin: 0 0 0 120px;
}

#step_two {
	margin: 0 0 0 120px;
}

#step_three {
	margin: 0 0 0 120px;
}

.step_left {
	width: 425px;
	float: left;
}

.step_right {
	width: 425px;
	float: left;
}

.valid {
	border: 1px solid #3ADB42;
        border: 1px solid #3c763d;
}

.valid:hover {
	border: 1px solid #3ADB42;
}

.invalid {
	color: #FF5B5E;
	font-size: 14px;
}
*/


#setup-container {
    background-color: #F7F7F7;
    padding: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.setup-step {
    max-width: 100%;
    height: auto;
}

.setup_label {
    margin: 5px 0px 5px 0px;
}

.valid {
    border: 1px solid #3ADB42;
}

.valid:hover {
    border: 1px solid #3ADB42;
}

input.invalid  {
    border: 1px solid #FF5B5E;
}

label.invalid {
    color: #FF5B5E;
    font-size: 14px;
    display: block;
    margin-top: -10px;
    margin-bottom: 25px;
}

input {
    margin-bottom: 15px;
}

select {
    margin-bottom: 15px;
}

.well {
    background: white;
}
